<article>
<h2>Create Post</h2>

<form action="#" method="post" id="createpost">
    <fieldset>
        <legend>Crear un Post</legend>

        <label for="title">Titulo</label>
        <input type="text" name="title" id="title" required>

        <label for="img">Imagen</label>
        <input type="file" name="img" id="img" required>

        <label for="info">Texto</label>
        <input type="text" name="info" id="info" required>

        <button type="submit" id="btnCrear" onclick="spa.getCurrentControl().createPost(spa.get('createpost'))">Crear</button>

    </fieldset>
</form>


</article>
